.square-card {
    aspect-ratio: 1;
    display: inline-flex;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.square-card:hover {
    transform: scale(1.05);
}